/* Clayton Rapiejko 301091341 2021-05-30 Custom css */


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {text-align: center;}


/* form */
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid rgb(204, 204, 204);
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #3a8683;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #F7C537;
  padding: 20px;
}