<!DOCTYPE html>
<html lang="en">
        <div class="footer">
        <div class="text-information">
            <p class="text">
                Survey Wizard is licenced and an Award winning buisness with millions
                of clients around the world. Please check out our socials
            </p>
        </div>

        <div class="socials">
            <i class="bi bi-instagram"></i>
            <i class="fas fa-lg fa-address-book"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-twitter"></i>
            <i class="bi bi-youtube"></i>
            <img class="twitter" alt="insta" />
             <img class="facebook" alt="insta" />
            <img class="linkedIn" alt="insta" />
        </div>
        
        </div>
    
</html>