<%- include('partials/header.ejs'); -%>


 <%- include('partials/navigation.ejs'); -%>

<div class="container p-5">
    <h1 class="display-4">
        About Me
    </h1>
      <div class="floatRight">
  <a target="_blank" href="clayton">
    <img src="assets/images/clayton.jpg" alt="clayton" width="170" height="175" style="float:right">
  </a>
</div>
    <p>Hello!</p>
    <p>thank you for visiting my portfolio.</P>
    <p>I'm currently in my third semester at Centennial College for the Software Engineering Technician program</p>
    <p>I'm seeking a positon that will allow me to hone my skills in SQL based database applications. In my spare time, I voluneer with a soup kitchen and at the moment, my community butterfly garden. </P>
    <p>If you would like to view my work experience, I have attached my resume below. Please contact me with any questions or concerns about my abilities to meet your needs. </p>
    <p>Best regards</p>
    <p>Clayton Rapiejko</p>


    </ul>
    <h2 class="display-5">My Resume</h2>
    <p><a href="resume.pdf">Click here</a>to open resume</p>
</div>

    
 <%- include('partials/footer'); -%>
   