<%- include('partials/header'); -%>


 <%- include('partials/navigation'); -%>

<div class="container p-5">
    <h1 class="display-4">
        About Me
    </h1>
    <p>Hello, thank you for visiting my portfolio</p>
    <p>I'm currently in my third semester at Centennial College for the Software Engineering Technician program</p>
    <p>I'm seeking a positon that will allow me to hone my skills in SQL based database applications. If you would like to view my work experience, I have attached my resume below. </p>

    </ul>
    <h2 class="display-5">My Resume</h2>
    <p><a href="">Click here</a>to open resume</p>
</div>

    
 <%- include('partials/footer'); -%>
   