<%- include('partials/header'); -%>


 <%- include('partials/navigation'); -%>

<div class="container p-5">
    <h1 class="display-4">
        Projects
    </h1>
    <p>I'm currently working on machine learning artwork. These images were created with a program called TheBigSleep AI</p>