<%- include('partials/header'); -%>


 <%- include('partials/navigation'); -%>

<div class="container p-5">
    <h1 class="display-4">
        Contact Me
    </h1>
<p>Clayton Rapiejko</p>
<p>905-924-1902</p>
<p>claytonrapiejko@gmail.com</p>

 <%- include('partials/footer'); -%>


<div class="container">
  <form action="action_page.php">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">


    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

    <button onclick="myFunction()">Replace document</button>

    <script>
function myFunction() {
  location.replace("")
}
</script>

  </form>
</div>