<%- include('partials/header'); -%>

 
<%- include('partials/navigation'); -%>

<div class="floatRight">
  <a target="_blank" href="clayton">
    <img src="assets/images/logo.png" alt="clayton" width="170" height="175" style="float:right">
  </a>

<%- include('partials/footer'); -%>


