<%- include('partials/header'); -%>

 
<%- include('partials/navigation'); -%>


    <img src="assets/images/logo2.png" alt="clayton" width="170" height="175" 
  </a>

<%- include('partials/footer'); -%>


