<%- include('partials/header'); -%>


 <%- include('partials/navigation'); -%>

<div class="container p-5">
    <h1 class="display-4">
        Projects
    </h1>
    <p>I'm currently working on machine learning artwork. These images were created with a program called TheBigSleep AI</p>
    <div class="gallery">
  <a target="_blank" href="alien">
    <img src="assets/images/alien.png" alt="alien" width="600" height="400">
  </a>
  <div class="desc">Alien</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="assets/images/wizard.png" alt="wizard" width="600" height="400">
  </a>
  <div class="desc">Wizard</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_lights.jpg">
    <img src="assets/images/clouds.png" alt="clouds" width="600" height="400">
  </a>
  <div class="desc">Kaleidoscopic Clouds</div>
</div>
    

    
 <%- include('partials/footer'); -%>
   