<%- include('partials/header'); -%>


 <%- include('partials/navigation'); -%>

<div class="container p-5">
    <h1 class="display-4">
        Projects
    </h1>
    <p>I'm currently working on machine learning artwork. These images were created with a program called TheBigSleep AI</p>
    <div class="gallery">
  <a target="_blank" href="alien">
    <img src="img_5terre.jpg" alt="Cinque Terre" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="img_forest.jpg" alt="Forest" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_lights.jpg">
    <img src="img_lights.jpg" alt="Northern Lights" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>


    </ul>
    <h2 class="display-5">My Resume</h2>
    <p><a href="resume.pdf">Click here</a>to open resume</p>
</div>

    
 <%- include('partials/footer'); -%>
   