<%- include('partials/header'); -%>


 <%- include('partials/navigation'); -%>

<div class="container p-5">
    <h1 class="display-4">
        Services
    </h1>

       <div class="floatRight">
  <a target="_blank" href="logo">
    <img src="assets/images/logo.png" alt="coffee" width="170" height="175" style="float:left">
  </a>
</ul>

 <%- include('partials/footer'); -%>

