<%- include('partials/header'); -%>


 <%- include('partials/navigation'); -%>

<div class="container p-5">
    <h1 class="display-4">
        Services
    </h1>
<p>I'm currently available for the following:</p>
<ul>
    <li>Datbase Administrator</li>
    <li>Database Developer</li>
    <li>General programming</li>
    <li>Web design</li>
    <li>A cup of coffee</li>
    <br>
    <br>
       <div class="floatRight">
  <a target="_blank" href="coffee">
    <img src="assets/images/coffee.jpg" alt="coffee" width="170" height="175" style="float:left">
  </a>
</ul>

 <%- include('partials/footer'); -%>

