/* navBar */
/* navBar */
.navbar-nav {
    color: white;
    display: grid !important;
    grid-template-columns: 100px 150px auto;
}
#navBar-container {
    background-color: #4CC9F0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   
}
.nav-item  {
    width: fit-content;
}

.navBar-options {
    padding: 10px;
    margin-left: auto;
    margin-right: 20px;
    width: 25%;

}
.profile {
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto auto;
}
.nav-link-register:hover {
    color: black;
}
.nav-link-register {
    background-color: #fdc500;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    width: 100px;
}
.nav-link-login:hover {
    color: white;
}
.nav-link-login {
    background-color: #00509d;
    color: white;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 4px;
    padding: 10px;
    width: 100px;
}

.logIn-btn {
    margin-top: 5px;
}
.logo {
    margin-left: 20px;
    width: 140px;
    height: 60px;
    margin-top: -5px;
}
.nav-link:hover {
    transform: translateY(-7px);
    color: black;
}
.nav-link {
    transition: all 0.3s ease 0s;
    margin-top: 10px; 
}
.createSurvey-btn:hover {
    background-color: #C77DFF;
    box-shadow: 0px 15px 20px rgba(199, 125, 255, 0.4);
    color: #fff;
    transform: translateY(-7px);
    text-decoration: none;
}

#createSurvey-atag {
    text-decoration: none;
    color: black;
}
.createSurvey-btn {
    margin-top: 8px;
    width: auto;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    padding: 10px;
    /* position: relative;
    top: 20px;
    border: 1px solid black;
    padding: 5px;
    background-color: #52b788;
    border-radius: 5px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}

/* main container */

#main-container {
    border: 1px solid black;
    max-width: 90%;
    height: fit-content;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 5px;
}
.homePage-container {
    height: 100%;
    border: 2px solid orange
}
#container-row-top {
    border: 1px solid black;
    margin-left: 50px;
    margin-right: 50px;
    height: 150px;
    margin-top: 100px;
}
#register-row {
    margin-top: 100px;
    border: 1px solid black;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    background-color: #333533;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-bottom: 500px;
    border-radius: 10px;
}
#login-row {
    margin-top: 100px;
    border: 1px solid black;
    width: 50%;
    color: white;
    background-color: #333533;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 500px;
}

.row {
    margin-left: 50px;
    margin-right: 50px;
    height: 450px;
}

#container-col {
    border: 1px solid red;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;

}
.left-side-container {
    border: 2px solid blue;
    margin-right: 10px;
}
.right-side-container {
    border: 2px solid green;
}
/* Footer */

.footer {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    padding: 60px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: #4CC9F0!important;
   
}

/* create survey page */

#wrapper {
    border: 1px solid red;
    padding: 10px;
   
}
.createSurvey-container {
border: 1px solid black;
padding: 10px;

}
.survey-info {
    border: 1px solid green;
    padding: 10px;
    margin-top: 10px;
}

.survey-format {
    border: 1px solid orange;
    height: 100px;
    padding: 10px;
}

.createsurvey-btn-wrapper {
    border: 1px solid pink;
    padding: 10px;
    height: 50px;
}
.create-survey {
    text-decoration: none;
    color: grey;
    border: 1px solid black;
    border-radius: 5px;
    float: right;
}

/* survey editor / create question */

#createQuestion-container {
  border: 1px solid black;
   padding: 20px;
   
}
.add-logo {
    margin-top: 20px;
}
.survey-title {
    margin-top: 10px;
    text-align: center;
}
.survey-header {
    border: 1px solid red;
  
}
.survey-title {
    border: 1px solid green;
}
.create-question {
    border: 1px solid orange;
}
.question-container {
    margin-top: 10px;
    border: 1px solid red;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
}
.addNewQuestion {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}
.finish-editing {
    width: 50%;
    border: 1px solid black;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.info-container {
    text-align: center;
    border: 1px solid black;
    height: fit-content;
}
/* my survey page */

#table-container {
    border: 1px solid black;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
}
.img-large {
    width: 400px;
    height: 400px;
}

.button-container {
    padding: 10px;
    
}

.create-survey-btn {
    margin-left: 180px;
}


/* edit surveyPage */

#editQuestions-container {
    border: 1px solid black;
}
#editQuestions-row {
    border: 1px solid black;
}


/* css fro popup */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .btn-container {
      padding: 10px;
      margin-left: auto;
      width: fit-content;
      margin-right: 10px;
      display: grid;
      grid-template-columns: 120px auto;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.nav-link {
    color: white;
    width: 130px;
    font-size: 15px;
    margin-left: 50px;
}

#register {
    width: 130px;

}

#profile-dropdown {
    margin-left: auto;
    border: 1px solid black;
}

.line {
    position: relative;
    width: 16rem;
    height: fit-content;
    border: 2px solid black;
    font-size: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
   
}
.description {
    width: 50%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
.image-text {
    border: 1px solid red;
    width: 50%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}
#container-col {
    border: 1px solid black;
    display: grid;
    grid-template-rows: auto auto auto;
    text-align: center;
}
.pushable {
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    display: block;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 15px;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-6px);
  }

  .pushable:active .front {
    transform: translateY(-2px);
  }

.anim-typewritter {
    animation: typewriter 4s steps(40) 1s 1   normal both ,
    blindTextCursor 500ms steps(40) infinite normal;
    animation-iteration-count: infinite;
}

#complete-survey-container {
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}
.surveytitle {
    text-align: center;
    padding: 10px;
}
#question-container {
    margin-left: 0px;
    padding: 10px;
    width: auto;
    border: 1px solid red;
    height: fit-content;
}
.complete-btn {
    border: 1px solid black;
    text-align: center;
}
.textbox {
    width: 100%;
}
label {
    margin-top: -5px;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
fieldset {
    overflow: hidden
  }
  
  .some-class {
    float: left;
    clear: none;
  }
  
  label {
    float: left;
    clear: none;
    display: block;
    padding: 0px 1em 0px 8px;
  }
  
  input[type=radio],
  input.radio {
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
  }
@keyframes typewriter {
    from {
        width: 0rem;
    }
    to {
        width: 16rem;
    }
}



@keyframes blindTextCursor  {
    from {
        border-right-color: black;
    }
    to {
        border-right-color: gray;
    }
}