<!-- Clayton Rapiejko 301091341 2021-05-30 Assignment 1 COMP229 Portfolio -->
<%- include('../Partials/header/header.ejs'); %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap" rel="stylesheet">

  <!--CSS Section-->
  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
  <link rel='stylesheet' href='/Content/app.css' />
</head>

<body class="homePage-container">
<div class="container" id="main-container">
  <div class="row" id="container-row-top">
    <div id="container-col">
      <p class="line anim-typewritter"><%= textDisplay %></p>
  
    </div>
  </div>
  <div class="row1" id="container-row">
  <header class="info-container"><b>Go beyond collecting feedback </b><br />
    Explore other SurveyMonkey products that can help drive change in your organization.</header>
    <div  id="container-col">
          <div class="left-side-container">
            <img class="img-left" src="Assets/leftSide.jpg" alt="img" />
            <p class="title-text-bold"><b>Market Research</b></p>
             <p class="middle-text">Conduct market research quickly. </p>
             <p class="description">Expand your market research capabilities to keep track of your brand, test your ideas, or get a gut check with your target audience.</p>
                     <button class="pushable">
       <span class="front">
       Learn More
        </span>
        </button>
        </div>

          <div class="right-side-container">
          <img class="img-left" src="Assets/rightSide.jpg" alt="img" />
            <p class="title-text-bold"><b>Market Research</b></p>
             <p class="middle-text">Conduct market research quickly. </p>
             <p class="description">Expand your market research capabilities to keep track of your brand, test your ideas, or get a gut check with your target audience.</p>
              <button class="pushable">
       <span class="front">
         Sign In to learn more
        </span>
        </button>
        </div>
    </div>
  </div>
    <div class="row" id="container-row">
    <div  id="container-col">
           <div class="left-side-container">
          <img class="img-large" src="Assets/bottomImg.png"  />
        </div>

          <div class="right-side-container">
        <p class="image-text">Know the score with your customers
        Keep a competitive edge by truly understanding the voice of your customers. Customer satisfaction surveys help you connect at multiple touchpoints to find out exactly what your customers want, need, and expect.
        </p>
      <button class="pushable">
       <span class="front">
          Create Survey
        </span>
        </button>
        </div>
    </div>
</div>
</div>

  <!--JavaScript Section-->
  <script src="/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
<%- include('../Partials/footer/footer.ejs'); %>
</html>
