<!DOCTYPE html>
<html lang="en">
        <div class="footer">
        <div class="text-information">
            <p class="text">
                Survey Wizard is licenced and an Award winning buisness with millions
                of clients around the world. Please check out our socials
            </p>
        </div>

        <div class="socials">

            <div class="instagram" alt="insta"></div>
            <div class="twitter" alt="insta"></div>
            <div class="facebook" alt="insta"></div>
            <div class="linkedIn" alt="insta"></div>
            
        </div>
        </div>
    
</html>