<!DOCTYPE html>
<html lang="en">
        <div class="footer">
        <div class="text-information">
            <p class="text">
                Survey Wizard is licenced and an Award winning buisness with millions
                of clients around the world. Please check out our socials
            </p>
        </div>

        <div class="socials">
            <img class="instagram" alt="insta" src="Assets/instagram-new.png" />
            <img class="twitter" alt="insta" src="Assets/Twitter-Emblem.png" />
             <img class="facebook" alt="insta" src="Assets/Facebook-logo.png"/>
            <img class="linkedIn" alt="insta" src="Assets/reddit-logo.png" />
        </div>
        </div>
    
</html>