<%- include('../Partials/header/header.ejs'); %>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Client/Content/app.css" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  </head>

  <body>
    <div class="container" id="editQuestions-container">
      
    
    </div>
  </body>

  </html>
  <%- include('../Partials/footer/footer.ejs'); %>