<!-- Clayton Rapiejko 301091341 2021-05-30 Assignment 1 COMP229 Portfolio -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/Content/app.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg " id="navBar-container">
      <!-- <a href="/"><img class="logo" src="Assets/logo.png" /></a> -->
      <a href="/" id="atagTest"><div id="header-img"></div></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ">
          <li class="nav-item active">
            <a class="nav-link" href="/explorePage">
            Explore <span class="sr-only">(current)</span>
            </a>
          </li>
          <% if(displayName) { %>
          <li class="nav-item">
            <a class="nav-link" href="/mySurveys">My Surveys</a>
          </li>
          <li class="nav-item dropdown">
          <button  class="createSurvey-btn">
            <a id="createSurvey-atag" href="/createSurvey">
            + create survey
          </a>
          </button>
         
          </li>
          <% } %>
        </ul>
        <div class="navBar-options">
          <div class="btn-container">

          <% if(displayName) { %>    
          <div class="btn-group">
             <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= currentUser %>
              </button>
            <div class="dropdown-menu">
            <button class="dropdown-item" type="button"><a  href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></button>
            </div>
          </div>
           <% } else { %> 
              <a class="nav-link-login" aria-current="page" href="/login"><i class="fas fa-lg fa-address-book"></i> Login</a>
              <a class="nav-link-register" id="register" aria-current="page" href="/register"><i class="fas fa-lg fa-address-book"></i> Register</a>
             <% } %>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>
