<%- include('../Partials/header/header.ejs'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--CSS Section-->
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
    <link rel='stylesheet' href='/Content/app.css' />
    
</head>
<body>
    <center><h1>These are the Active Forms</h1></center>
    
    
    <table class="table" id="table-container">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Answer</th>
                    
                </tr
                          
                    <tbody>
                       <div class="container">
                            <div class="row">
                             <div class="col">
                             Column
                             </div>
                             <div class="col">
                              Column
                              </div>
                            <div class="col">
                               Column
                             </div>
                         </div>
                         </div>
                     </tbody>
        </table>








    <!--JavaScript Section-->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
</body>
</html>
<%- include('../Partials/footer/footer.ejs'); %>