<%- include('../Partials/header/header.ejs'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--CSS Section-->
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
    <link rel='stylesheet' href='/Content/app.css' />
<style>
  .navbar-toggler-icon {
    display: none;
  }
  .navbar-toggler {
    display: none;
  }
</style>
</head>
<body>

<main class="container">
  <div class="row" id="register-row">
        <div class="register-wrappper" >
            <h1>Please Register</h1>
<<<<<<< Updated upstream
            <br></br>
            <form method="POST" autocomplete="off">
=======
            <form method="POST" autocomplete="off" id="register-form">
>>>>>>> Stashed changes
                <fieldset class="form-group">
                    <label>Username:</label>
                    <input type="text" placeholder="Username" class="form-control" name="username" placeholder="Enter username" id="registerUsername" required autofocus>
                </fieldset>
                <fieldset class="form-group">
                    <label>Password:</label>
                    <input type="password"   class="form-control" name="password" placeholder="Enter password" id="registerPassword" required>
                </fieldset>
                
                <fieldset class="form-group">
                 <label>Email:</label>
                    <input type="email"  placeholder="Email" class="form-control" name="email" placeholder="Enter email Address" id="registerEmail" required>
                </fieldset>

                <fieldset class="form-group">
                   <label>Displayname:</label>
                    <input type="text" class="form-control" name="displayName" placeholder="Enter Display Name" id="registerDisplayName" required>
                   
                </fieldset>
<<<<<<< Updated upstream
                <br></br>
                <fieldset class="form-group text-right">
                    <input type="submit" value="Register" class="btn btn-primary">
=======
                
                <fieldset class="form-group text-right" id="formFeild-btns">
                    <input type="submit" value="Register" id="register-btn" class="btn btn-success">
>>>>>>> Stashed changes
                    <a href="/" >
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset>
            </form>
        </div>
    </div>
</main>

  <!--JavaScript Section-->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
</body>
</html>
<%- include('../Partials/footer/footer.ejs'); %>