<%- include('../Partials/header/header.ejs'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--CSS Section-->
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
    <link rel='stylesheet' href='/Content/app.css' />

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap" rel="stylesheet">

</head>


  <body>
     <h1>These are the Active Forms</h1>
    
 <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h3> Survey List </h3>
          <br>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>Title</th>
                  <th class="text-center">#</th>
                  <th class="text-center">Enpire time </th>
                  <th class="text-center">Take Survey</th>
                </tr>
                </thead>
                <tbody>
                  <% for(let count=0; count < publicSurveys.length; count++) { %>
                    <tr>
                        <th scope="row">Title</th>
                        <td>
                           number
                        </td>
                          <td class="text-center">
                      expire time
                        </td>
                        <td class="text-center">
                        <a href="/fillOutSurvey/<%=publicSurveys[count]._id %>" class="btn btn-primary btn-sm edit"> Compelte Survey</a>
                        </td>
                    </tr>      

                  <% } %>
                <!-- Template Row -->

              </tbody>
            </table>
          </div>
           <div class="col-md-offset-1 col-md-10 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
          </div>
        </div>
      </div>
    </div>

    <!--JavaScript Section-->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
</body>
</html>
<%- include('../Partials/footer/footer.ejs'); %>